{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <table class="table table-light">
                    <tr>
                        <th scope="col">Administrator</th>
                        <th scope="col">Email</th>
                        <th scope="col">Access to which studies?</th>
                        <th scope="col">Grant access to the following studies?</th>
                        <th scope="col">Remove access to the following studies?</th>
                    </tr>

                    <tr>
                        <td>
                            {% if user.admin == True %}
                                <div>Yes</div>
                                <br>
                                <form id="form" method="POST" action="{{ url_for('portal_blueprint.admin', user_id=user.id) }}">
                                    <button class="btn btn-primary" type="submit" name="admin" value="False">Remove Admin</button>
                                </form>
                            {% else %}
                                <div>No</div>
                                <br>
                                <form id="form" method="POST" action="{{ url_for('portal_blueprint.admin', user_id=user.id) }}">
                                    <button class="btn btn-primary" type="submit" name="admin" value="True">Make Admin</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for study in user.studies %}
                                <div>{{ study.principal }}^{{ study.project_name }}</div>
                            {% endfor %}
                        </td>
                        <td>
                            <form id="survey-form" method="POST" action="{{ url_for('portal_blueprint.admin', user_id=user.id) }}">
                                <fieldset class="form-group">
                                    {{ form.csrf_token }}
                                    {% for choice in form.choices %}
                                        <div class="form-check">
                                            {{ choice(class="form-check-input") }}
                                            {{ choice.label(class="form-check-label") }}
                                        </div>
                                    {% endfor %}
                                </fieldset>
                                <br>
                                <input type="submit" name=access-{{user.id}} value="Grant Access" class="btn btn-primary" {% if user.admin %} disabled="disabled" {% endif %}></input>
                            </form>
                        </td>

                        <td>
                            <form id="survey-form" method="POST" action="{{ url_for('portal_blueprint.admin', user_id=user.id) }}">
                                <fieldset class="form-group">
                                    {{ removal_form.csrf_token }}
                                    {% for choice in removal_form.choices_to_remove %}
                                        {% if choice not in user.studies %}
                                            <div class="form-check">
                                                {{ choice(class="form-check-input") }}
                                                {{ choice.label(class="form-check-label") }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <br>
                                {% if user.admin == True %}
                                    <input type="submit" name=remove-{{user.id}} value="Remove Access" class="btn btn-primary" disabled="disabled"></input>
                                {% else %}
                                    <input type="submit" name=remove-{{user.id}} value="Remove Access" class="btn btn-primary"></input>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>             
{% endblock %}
