{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('results') }}">
    <input type="submit" class="btn btn-default" value="Back" style="margin-left:10px"></input>
</form> 

<table class="table"></p>
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Current Status</th>
        <th scope="col">Which Scanner</th>
        <th scope="col">Number of Expected Scans</th>
        <th scope="col">Is this Study Longitudinal or Multi-Session</th>
        <th scope="col">Familiarity</th>
        <th scope="col">Principal or "PI" Identifier</th>
        <th scope="col">Project Name Identifier</th>
        <th scope="col">Overridden Dataset Name</th>
        <th scope="col">Sample Date</th>
        {% if submitter_answer.retrospective_data == True %}
            <th scope="col">Retrospective Data</th>
            <th scope="col">Retrospective Data Start Date</th>
            <th scope="col">Retrospective Data End Date</th>
        {% endif %}
        <th scope="col">Comment</th>
    </tr>

    <tr>
        <td>
            <form method="POST" action="{{ url_for('dicom_verify') }}">
                <input type="submit" name={{submitter_answer.submitter.id}} value="Config" class="btn btn-default"></input>
            </form> 
            <br>
            <form method="POST" action="{{ url_for('dicom_verify') }}">
                <input type="submit" name={{submitter_answer.submitter.id}} value="Config-Study Date" class="btn btn-default"></input>
            </form> 
            <br>
            <form method="POST" action="{{ url_for('dicom_verify') }}">
                <input type="submit" name={{submitter_answer.submitter.id}} value="Config-Study Description" class="btn btn-default"></input>
            </form> 
        </td>
        <td>{{ submitter_answer.submitter.name }}</td>
        <td>{{ submitter_answer.submitter.email }}</td>
        <td>{{ submitter_answer.status.capitalize() }}</td>
        <td>
            {% if submitter_answer.scanner == 'type1' %} 3T {% else %} 7T {% endif %} 
        </td>
        <td>{{ submitter_answer.scan_number }}</td>
        <td>
            {% if submitter_answer.study_type == True %} Yes {% else %} No {% endif %} 
        </td>
        <td>
            <table class="familiarity-results">
                <tr>
                    <td class="familiarity-result-opt">Bids:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_bids == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_bids == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_bids == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_bids == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_bids == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">Bids App:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_bidsapp == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_bidsapp == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_bidsapp == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_bidsapp == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_bidsapp == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">Python:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_python == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_python == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_python == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_python == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_python == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">Linux:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_linux == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_linux == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_linux == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_linux == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_linux == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">Bash:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_bash == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_bash == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_bash == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_bash == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_bash == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">HPC:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_hpc == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_hpc == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_hpc == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_hpc == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_hpc == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">Open Neuro:</td>
                    <td class="familiarity-result-opt">
                        {% if submitter_answer.familiarity_openneuro == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_openneuro == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_openneuro == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_openneuro == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_openneuro == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <td class="familiarity-result-opt">CBRAIN:</td>
                    <td class="familiarity-result-opt">{% if submitter_answer.familiarity_cbrain == '1' %}
                            <p class="opt">Not familiar at all</p>
                        {% elif submitter_answer.familiarity_cbrain == '2' %}
                            <p class="opt">Have heard of it</p>
                        {% elif submitter_answer.familiarity_cbrain == '3' %}
                            <p class="opt">Have used of it</p>
                        {% elif submitter_answer.familiarity_cbrain == '4' %}
                            <p class="opt">Used it regularly</p>
                        {% elif submitter_answer.familiarity_cbrain == '5' %}
                            <p class="opt">I consider myself an expert</p>
                        {% endif %} 
                    </td>
                </tr>
            </table>
        </td>
        <td>{% if submitter_answer.principal == 'Other' %} {{ submitter_answer.principal_other }} {% else %} {{ submitter_answer.principal }} {% endif %} </td>
        <td>{{ submitter_answer.project_name }}</td>
        <td>{{ submitter_answer.dataset_name }}</td>
        <td>
            {% if submitter_answer.sample != None %}
                {{ submitter_answer.sample.date() }}
            {% else %}
                {{ submitter_answer.sample }}
            {% endif %} 
        </td>
        {% if submitter_answer.retrospective_data == True %}
            <td>
                {% if submitter_answer.retrospective_data == True %} Yes {% else %} None {% endif %} 
            </td>
            <td>
                {% if submitter_answer.retrospective_start != None %}
                    {{ submitter_answer.retrospective_start.date() }}
                {% else %}
                    {{ submitter_answer.retrospective_start }}
                {% endif %} 
            </td>
            <td>
                {% if submitter_answer.retrospective_end != None %}
                    {{ submitter_answer.retrospective_end.date() }}
                {% else %}
                    {{ submitter_answer.retrospective_end }}
                {% endif %} 
            </td>
        {% endif %} 
        <td>{{ submitter_answer.comment.capitalize() }}</td>
    </tr>
</table>
{% endblock %}