{% extends "base.html" %}

{% block title %}DICOM Query Result{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row my-3">
        <div class="col">
            <table class="table table-light table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Patient Sex</th>
                    </tr>
                </thead>
                <tbody>
                {% for response in dicom_response %}
                    <tr>
                        <td>
                            <button
                                    class="btn btn-outline-dark"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ response["PatientName"]|replace("+", "plus")|replace(".", "dot")|replace("#", "pound") }}"
                                    type="button"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ response["PatientName"]|replace("+", "plus")|replace(".", "dot")|replace("#", "pound") }}">
                                {{ response["PatientName"] }}
                            </a>
                        </td>
                        <td>{{ response["PatientID"] }}</td>
                        <td>{{ response["PatientSex"] }}</td>
                    </tr>
                    <tr class="collapse" id="collapse{{ response["PatientName"]|replace("+", "plus")|replace(".", "dot")|replace("#", "pound") }}">
                        <td colspan="3">
                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th scope="col">Series Number</th>
                                        <th scope="col">Series Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for series in response["series"] %}
                                        <tr>
                                            <td>{{ series["SeriesNumber"] }}</td>
                                            <td>{{ series["SeriesDescription"] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
