<!-- Home page -->
{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block
  app_content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card my-3">
          <div class="card-body">
            <h1 class="card-title">Welcome to Autobids!</h1>
            <p class="card-text">
              Autobids is a tool for automatically downloading your MR data from
              the CFMM scanner and converting them to
              <a href="https://bids.neuroimaging.io/" target="_blank" rel="noopener">BIDS</a>
              format.
            </p>
            <p>
              To create request CFMM autobids conversion:
              <ol type="1">
                <li>
                  Request a new study from the
                  <a href="{{ url_for("portal_blueprint.new_study") }}">"New Study"</a>
                  tab. To interact with your study, you'll need to create an account
                  and log in.
                </li>
                <li>
                  Have the PI (or study manager) add "bidsdump" as an authorized user
                  for the study on the CFMM DICOM study. A step-by-step guide can be found
                  <a href="https://github.com/khanlab/autobids/wiki/Granting-access-to-bidsdump"
                     target="_blank">here</a>.
                </li>
                <li>
                  Sign up for a <a href="https://app.globus.org/" target="_blank">Globus</a> account and download
                  <a href="https://www.globus.org/globus-connect-personal" target="_blank">Globus Connect Personal</a>.
                </li>
              </ol>
              An admin will review the new study, enable it, and grant
              you access if there are no issues.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock app_content %}
