<!-- Home page -->
{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block
  app_content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card my-3">
          <div class="card-body">
            <h1 class="card-title">Welcome to Autobids!</h1>
            <p class="card-text">
              Autobids is a tool for automatically downloading your MR data from
              the CFMM scanner and converting them to
              <a href="https://bids.neuroimaging.io/" target="_blank" rel="noopener">BIDS</a>
              format.
            </p>
            <p>
              Checkout the
              <a href="{{ url_for ("portal_blueprint.getting_started") }}">getting started</a>
              page for more information.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock app_content %}
