{% extends "base.html" %}
{% block title %}
  Login
{% endblock title %}
{% block app_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form id="login-form" action="" method="post">
          {{ form.csrf_token }}
          <div class="card my-3">
            <div class="card-body">
              <h1>Sign In</h1>
              {{ form.email.label }}
              {{ form.email(class="form-control") }}
              {{ form.password.label }}
              {{ form.password(class="form-control") }}
              <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                <label class="form-check-label">Remember Me</label>
              </div>
              <br />
              {{ form.submit(class="btn btn-primary") }}
              <br />
              <p>
                New User? <a class="download" href="{{ url_for('portal_blueprint.register') }}">Click to Register!</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock app_content %}
