<!-- Reset password for with same fields as registeration -->
{% extends "base.html" %}
{% block title %}
  Reset password
{% endblock title %}
{% block app_content %}
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <form id="reset-form" action="" method="post">
          {{ form.csrf_token }}
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Reset Password</h1>
              <h2 class="card-subtitle">User: {{ email }}</h2>
              {{ form.password.label }}
              {{ form.password(class="form-control") }}
              {{ form.password2.label }}
              {{ form.password2(class="form-control") }}
              <div class="form-text">Please enter your new password.</div>
              {{ form.submit(class="btn btn-primary") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock app_content %}
