<!-- Submitter survey responses -->
{% extends "base.html" %}
{% block title %}
  Study {{ study.id }} Demographics
{% endblock title %}
{% block app_content %}
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <div class="card">
          <h3 class="card-header">
            Study {{ study.principal }}^{{ study.project_name }} Submitter Demographics
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Name</h5>
              <p class="card-test">{{ study.submitter_name }}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Email</h5>
              <p class="card-text">{{ study.submitter_email }}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Status</h5>
              <p class="card-text">{{ study.status.capitalize() }}</p>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Familiarity</h5>
              <table class="table table-sm">
                <tr>
                  <td>BIDS:</td>
                  <td>
                    {% if study.familiarity_bids == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_bids == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_bids == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_bids == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_bids == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>BIDS Apps:</td>
                  <td>
                    {% if study.familiarity_bidsapp == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_bidsapp == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_bidsapp == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_bidsapp == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_bidsapp == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Python:</td>
                  <td>
                    {% if study.familiarity_python == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_python == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_python == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_python == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_python == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Linux:</td>
                  <td>
                    {% if study.familiarity_linux == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_linux == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_linux == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_linux == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_linux == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>Bash:</td>
                  <td>
                    {% if study.familiarity_bash == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_bash == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_bash == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_bash == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_bash == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>HPC:</td>
                  <td>
                    {% if study.familiarity_hpc == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_hpc == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_hpc == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_hpc == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_hpc == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>OpenNeuro:</td>
                  <td>
                    {% if study.familiarity_openneuro == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_openneuro == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_openneuro == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_openneuro == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_openneuro == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>CBRAIN:</td>
                  <td>
                    {% if study.familiarity_cbrain == '1' %}
                      <p>Not familiar at all</p>
                    {% elif study.familiarity_cbrain == '2' %}
                      <p>Have heard of it</p>
                    {% elif study.familiarity_cbrain == '3' %}
                      <p>Have used of it</p>
                    {% elif study.familiarity_cbrain == '4' %}
                      <p>Used it regularly</p>
                    {% elif study.familiarity_cbrain == '5' %}
                      <p>I consider myself an expert</p>
                    {% endif %}
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <!-- Button to return to study information -->
          <div class="card-body">
            <a href="{{ url_for('portal_blueprint.answer_info', study_id=study.id) }}"
               class="btn btn-link"
               role="button">Back to study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock app_content %}
