{% extends "base.html" %}
{% block title %}
  Study {{ study.id }} Config
{% endblock title %}
{% block app_content %}
  <div class="container">
    <div class="row my-3">
      <div class="col">
        <form action="{{ url_for('portal_blueprint.study_config', study_id=study.id)}}"
              method="post">
          <div class="card">
            <h3 class="card-header">
              Study Config: {{ study.principal }}^{{ study.project_name }}
            </h3>
            <div class="card-body">
              <h4 class="card-title">Study Administration</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ form.users_authorized.label(class="form-label")}}
                {% for choice in form.users_authorized %}
                  <div class="form-check">
                    {{ choice(class="form-check-input")}}
                    {{ choice.label(class="form-check-label")}}
                  </div>
                {% endfor %}
                <div class="form-text">
                  Authorized users can access the study, edit the study
                  config, and launch cfmm2tar and tar2bids tasks.
                </div>
              </li>
              <li class="list-group-item">
                <label class="form-label" for="active">Study activation</label>
                <div class="form-check">
                  {{ form.active(class="form-check-input", disabled=admin_disable) }}
                  {{ form.active.label(class="form-check-label") }}
                </div>
                <div class="form-text">
                  Cfmm2tar and tar2bids cannot be run on inactive studies.
                  Only admins can activate or deactivate a study.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.custom_ria_url.label(class="form-label") }}
                {{ form.custom_ria_url(class="form-control", disabled=admin_disable)}}
                <div class="form-text">
                  Experienced DataLad users can request a custom RIA for
                  their dataset, allowing them to manually edit it.
                </div>
              </li>
            </ul>
            <div class="card-body">
              <h4 class="card-title">DICOM/Cfmm2tar Settings</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ form.example_date.label(class="form-label") }}
                {{ form.example_date(class="form-control") }}
                <div class="form-text">
                  A date with an existing scan for testing purposes. Optional.
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  {{ form.retrospective_data(class="form-check-input")}}
                  {{ form.retrospective_data.label(class="form-check-label")}}
                </div>
                {{ form.retrospective_start.label(class="form-label")}}
                {{ form.retrospective_start(class="form-control")}}
                {{ form.retrospective_end.label(class="form-label")}}
                {{ form.retrospective_end(class="form-control")}}
                <div class="form-text">
                  Optionally, dates between which cfmm2tar should download
                  scans.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.pi_name.label(class="form-label")}}
                {{ form.pi_name(class="form-select", disabled=admin_disable)}}
                <div class="form-text">
                  The study PI's identifier (generally their last name) on
                  the DICOM Server.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.project_name.label(class="form-label")}}
                {{ form.project_name(class="form-control", disabled=admin_disable)}}
                <div class="form-text">The project's name on the DICOM server.</div>
              </li>
              <li class="list-group-item">
                {{ form.patient_str.label(class="form-label")}}
                {{ form.patient_str(class="form-control", disabled=admin_disable)}}
                <div class="form-text">
                  A DICOM query string to match with scans' PatientName field.
                  Relatively limited, but
                  <code>*</code>
                  can be used as a wildcard.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.patient_re.label(class="form-label")}}
                {{ form.patient_re(class="form-control", disabled=admin_disable)}}
                <div class="form-text">
                  A
                  <a href="https://docs.python.org/3/library/re.html#regular-expression-syntax"
                     target="_blank"
                     rel="noreferrer">
                    Python regular expression
                  </a>
                  that's applied to incoming scans. Scans that don't match the
                  expression are not downloaded.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.excluded_patients.label(class="form-label") }}
                {% for choice in form.excluded_patients %}
                  <div class="form-check">
                    {{ choice(class="form-check-input", disabled=admin_disable) }}
                    {{ choice.label(class="form-check-label") }}
                  </div>
                {% endfor %}
                <br />
                {{ form.newly_excluded.label(class="form-label") }}
                {{ form.newly_excluded(class="form-control", disabled=admin_disable) }}
                <div class="form-text">
                  <code>StudyInstanceUID</code>
                  s of scans that will not be
                  downloaded by cfmm2tar regardless of the filter settings.
                  Scans can be also be added to this list from the DICOM query
                  page.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.included_patients.label(class="form-label", disabled=admin_disable) }}
                {% for choice in form.included_patients %}
                  <div class="form-check">
                    {{ choice(class="form-check-input", disabled=admin_disable) }}
                    {{ choice.label(class="form-check-label") }}
                  </div>
                {% endfor %}
                <br />
                {{ form.newly_included.label(class="form-label") }}
                {{ form.newly_included(class="form-control", disabled=admin_disable) }}
                <div class="form-text">
                  <code>StudyInstanceUID</code>
                  s of scans that will always be
                  downloaded by cfmm2tar regardless of the filter settings. Scans
                  can be also be added to this list from the DICOM query page.
                </div>
              </li>
            </ul>
            <div class="card-body">
              <h4 class="card-title">Tar2bids Settings</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ form.dataset_name.label(class="form-label")}}
                {{ form.dataset_name(class="form-control", disabled=admin_disable)}}
                <div class="form-text">
                  A name for this dataset. By default, the name is
                  {PI}^{Project Name}.
                </div>
              </li>
              <li class="list-group-item">
                {{ form.heuristic.label(class="form-label")}}
                {{ form.heuristic(class="form-select", disabled=admin_disable)}}
                <div class="form-text">The heudiconv heuristic to use for this study.</div>
              </li>
              <li class="list-group-item">
                {{ form.subj_expr.label(class="form-label")}}
                {{ form.subj_expr(class="form-control", disabled=admin_disable)}}
                <div class="form-text">
                  A search string to extract the patient name from the tar file name.
                </div>
              </li>
            </ul>
            <div class="card-body">
              <h4 class="card-title">Globus Settings</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ form.globus_usernames.label(class="form-label") }}
                {% for choice in form.globus_usernames %}
                  <div class="form-check">
                    {{ choice(class="form-check-input", disabled=admin_disable) }}
                    {{ choice.label(class="form-check-label") }}
                  </div>
                {% endfor %}
                <br />
                {{ form.new_globus_username.label(class="form-label") }}
                {{ form.new_globus_username(class="form-control") }}
                <div class="form-text">
                  Globus identities that should have access to the generated
                  datasets. You can find your globus identity by accessing
                  <a href="https://app.globus.org/account/identities"
                     target="_blank"
                     rel="noreferrer">
                    the "Account Identities" tab of the main Globus website
                  </a>
                  .
                </div>
              </li>
            </ul>
            <div class="card-body">
              <input type="submit"
                     name="study-config"
                     value="Update Config"
                     class="btn btn-primary"/>
              <a href={{ url_for('portal_blueprint.answer_info', study_id=study.id)}} class="btn btn-link" role="button">
                Back to study
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock app_content %}
