  body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #c3cdbf;
    color:#4d3f36;
  }

  .navbar-brand {
    font-size: 16px;
    padding: 15px 0px;
  }

  .container {
    align-items: center;
    margin: auto;
    border: 5px;
    padding: 10px;
  }

  .flash-message {
    color: rgba(178, 34, 34, 0.726);
  }

  a {
    font-size: 16px;
    color: #4d3f36
  }

  h4 {
    font-size: 16px;
  }

  p {
    list-style: none;
    margin: 14px 0px 14px 0px;
  }

  label {
    font-size: 16px;
    font-weight: 400;
  }

/* for Survey page */
  .survey-form {
    padding: 30px
  }

  #title {
    font-weight: normal;
    font-size: 32 px;
  }
  
  #description {
    font-size: 14px;
  }

  #general-title {
    font-size: 16px;
    margin: 14px 0px;
  }

  #general-description {
    font-size: 14px;
  }

  #retrospective_start{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #retrospective_end{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #comment{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
    resize: none
  }

/* smth for button */
  #btn {
    grid-row: 9;
    grid-column: 2 / 4;
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
  }
  
  #button {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #c3cdbf;
    color: #4d3f36;
    transition: border-color .5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1)
  }
  
  #submit:hover {
    background-color: #4a5a44;
    color: #e4d6ce;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  }

/* for results and detailed results page */
  .download{
    font-size: 14px;
  }

  .table {
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #708661;
  }

  .new {
    font-size: 14px;
    text-align: center;
    background-color: #97a78c;
  }

  th {
    border-style: solid;
    border-width: 2px;
    border-color: #708661;
    font-size: 14px;
    text-align: center;
  }

  td {
    border-style: solid;
    border-width: 2px;
    border-color: #708661;
    font-size: 12px;
    vertical-align: top;
    width:1px;
    padding: 5px;
  }

  .familiarity-result-opt {
    border-style: none;
    padding: 0px;
  }

/* for Login page */
  .name_input {
    padding: 0px 0px 10px 0px;
  }
  
  #name{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #email-address{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  .email_input {
    padding: 0px 0px 10px 0px;
  }

/* for Register page */
  #email {
    font-size: 14px;
  }

  #password {
    font-size: 14px;
  }

  #password2 {
    font-size: 14px;
  }