  body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #c3cdbf;
    color:#4d3f36;
  }

  .container {
    align-items: center;
    margin: auto;
    border: 5px;
    padding: 10px;
  }

  .survey-form {
    padding: 30px
  }
  
  .title-description {
    text-align: center;
  }

  .flash-message {
    color: rgba(178, 34, 34, 0.726);
  }

  #title {
    font-weight: normal;
    font-size: 32 px;
  }
  
  #description {
    font-size: 14px;
  }

  .padded_wrapper {
    padding: 10px;
  }

  .wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    margin: auto;
    width: 60%;
    padding: 20px
  }

  #general-title {
    font-size: 16px;
    margin: 14px 0px;
  }

  #general-description {
    font-size: 14px;
  }

  .name_input {
    padding: 0px 0px 10px 0px;
  }
  
  #name{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #email-address{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  .email_input {
    padding: 0px 0px 10px 0px;
  }

  .status_title {
    font-size: 20px;
  }

  .status_options {
    font-size: 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0px;
  }

  li {
    list-style: none;
    padding: 0px 0px 10px 0px;
  }

  p {
    list-style: none;
    margin: 14px 0px 14px 0px;
  }

  label {
    font-size: 16px;
  }

  a {
    font-size: 16px;
    color: #4d3f36
  }

  .scan-input {
    padding: 0px 0px 10px 0px;
  }

  #scan_number{
    width: 25%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #retrospective_start{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #retrospective_end{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #comment{
    font-family: 'Merriweather Sans', sans-serif;
    color: #4d3f36;
  }

  #btn {
    grid-row: 9;
    grid-column: 2 / 4;
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
  }
  
  #button {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #c3cdbf;
    color: #4d3f36;
    transition: border-color .5s;
  }
  
  #submit:hover {
    background-color: #4a5a44;
    color: #e4d6ce;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  }

  #email {
    width: 25%;
    font-size: 14px;
  }

  #password {
    width: 25%;
    font-size: 14px;
  }

  .results_table {
    font-size: 14px;
    text-align: center;
    background-color: #eeedec;
  }

  .familiarity {
    border-color: #ffffff;
  }

  .familiarity-table {
    padding: 0px 10px 10px 0px;
    border-style: none;
  }

  .familiarity-table-opt {
    padding: 0px 10px 10px 40px;
    border-style: none;
  }

  .familiarity-result-opt {
    border-style: none;
    padding: 0px 10px 10px 10px;
  }

  .opt {
  margin: 0px;
  }

  .new {
    font-size: 14px;
    text-align: center;
    background-color: #97a78c;
    }

  th {
    border-style: solid;
    border-width: 2px;
    border-color: #708661;
    padding: 10px;
  }

  td {
    border-style: solid;
    border-width: 2px;
    border-color: #708661;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
  }
















  
  
