{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
​
{% block app_content %}
<form id="survey-form" action="" method="post">
    {{ form.csrf_token }}
    <div class="panel panel-default">
        <div class="panel-body" style="text-align: center">
            <h1 id="title">New study request: autobids-cfmm </h1>
            <h4 id="description">Please use this form to submit information for initiating a new autobids project</h3>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.name.label }}
            {{ form.name(class="form-control", style="width: 400px", placeholder="Please enter your name") }} 
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.email.label }}
            {{ form.email(class="form-control", style="width: 400px", placeholder="Please enter a valid email address") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>General Information</h4>
            <p>The following questions are used to better understand resource requirements and needs of users.</p>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.status.label }}
            {% for status in form.status %}
                <div class="radio">
                    <label style="padding: 0px">
                        {{ status(style="margin-left: 0") }}
                        {{ status.label(style="margin: 0") }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.scanner.label }}
            {% for scanner in form.scanner %}
            <div class="radio">
                <label style="padding: 0px">
                    {{ scanner(style="margin-left: 0") }}
                    {{ scanner.label(style="margin: 0") }}
                </label>
            </div>
            {% endfor %}
        </div>
        </div>
​
        <div class="panel panel-default">
        <div class="panel-body">
            {{ form.scan_number.label }}
            {{ form.scan_number(class="form-control", style="width: 200px", placeholder="Insert number of scans") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.study_type.label }}
            <div class="checkbox">
                <label>
                    {{ form.study_type }}Yes
                </label>
            </div>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body container">
            <div class="row">
                <label for="familiarity" class="col-xs-12">How familiar are you with the following?</label>
            </div>
            <div class="row">
                {{ form.familiarity_bids.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_bids(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_bidsapp.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_bidsapp(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_python.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_python(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_linux.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_linux(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_bash.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_bash(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_hpc.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_hpc(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_openneuro.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_openneuro(class="form-control") }}
                </div>
            </div>
            <div class="row">
                {{ form.familiarity_cbrain.label(class="col-xs-2 control-label") }}
                <div class="col-xs-5">
                    {{ form.familiarity_cbrain(class="form-control") }}
                </div>
            </div>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>CFMM DICOM Server Project Information</h4>
            <p>The following questions require study information from the CFMM dicom server. Please open the CFMM DICOM Management website (https://dicom.cfmm.robarts.ca/dm/index) in a separate window to gather this information. Note: your study must be on the CFMM DICOM server to be compatible with autobids.</p>
        </div>
    </div>  
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.principal.label }}
            {{ form.principal(class="form-control", style="width: 400px", placeholder="Please enter the Principal/PI") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.project_name.label }}
            {{ form.project_name(class="form-control", style="width: 400px", placeholder="Please enter the Project Name") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.dataset_name.label }}
            {{ form.dataset_name(class="form-control", style="width: 400px", placeholder="Please enter the Dataset Name") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Test BIDS Conversion</h4>
            <p>We require an example session to optimize and test BIDS conversion.</p>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.sample.label }}
            {{ form.sample(class="form-control", style="width: 175px") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
                <h4>Retrospective BIDS Conversion</h4>
                <p>Once conversion is tested and verified, it is possible for us to trigger conversion of previously acquired data. Note: data must exist on the DICOM server.</p>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.retrospective_data.label }}
            <div class="checkbox">
                <label>
                    {{ form.retrospective_data }}Yes
                </label>
            </div>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.retrospective_start.label }}
            {{ form.retrospective_start(class="form-control", style="width: 175px") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.retrospective_end.label }}
            {{ form.retrospective_end(class="form-control", style="width: 175px") }}
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
                <h4>Consent & Feedback</h4>
                <p>This service provided by the CFMM and the Khan lab is optional, and we do not make any guarantees regarding quality of service. By using autobids you agree to appropriately acknowledge it's use, and to be contacted by e-mail for notifications and updates.</p>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form.consent.label }}
            <div class="checkbox">
                <label>
                    {{ form.consent }}Yes
                </label>
            </div>
        </div>
    </div>
​
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Optional: Please feel free to leave any feedback regarding this form or autobids in general.</h4>
            {{ form.comment(cols=77, rows=5) }}
        </div>
    </div>
    {{ form.submit() }}
</form>
{% endblock %}